<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #333;
            background-color: #f4f4f4;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Ventas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Cliente</th>
                <th>Empleado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha_venta }}</td>
                <td>{{ venta.monto}}</td>
                <td>{{ venta.clienteid }}</td>
                <td>{{ venta.empleadoid}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>